body {
    width: 100%;
    max-width: 1165px;
    background-color: darksalmon;
    margin: 0 auto;
}
header {
    background-color:rgb(125, 230, 230);
    padding: 20px; 
}
header .title {
  display: flex;
  justify-content: center;
}
header .title img {
    width: 200px;
    height: 150px;
    margin-bottom: -25px;
    margin-top: -45px;
}

