* {
    box-sizing: border-box;
}
body {
    width: 100%;
    max-width: 1165px;
    background-color: darksalmon;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-image: url(/img/soty.jpg);
    padding-top: 50px;
}
header .title {
  display: flex;
  justify-content: center;
  color: antiquewhite;
}
header .title img {
    width: 200px;
    height: 150px;
    margin-bottom: -25px;
    margin-top: -45px;
}
header .title h1 {
    font-size: 60px;
    margin-top: 0;
}
main {
    background-image: url(/img/pchela.jpg);
   
}
.photo article {
    display: flex;
    justify-content:space-between;
    border-bottom:6px solid red;
}
.photo img {
    width: 350px;
    height: 350px;
    border-radius: 170px; 
    margin-top: 50px;
    margin-left: 30px;
}
.photo .info {
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
}
.photo .info h2 {
   text-decoration:underline;
}
.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:160px;
    
   
}
.contacts div .uli {
    border-bottom: 1px solid black;
    padding-bottom: 103px;
}
.contacts div .text {
    width: 500px; 
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}
